common: &common
  adapter: postgresql
  username: [user]
  password: [password]
  host: localhost

production:
  <<: *common
  database: mcfly_prod

development:
  <<: *common
  database: mcfly_dev
  url: <%= ENV['DEVELOPMENT_DATABASE_URL'] %>

test:
  <<: *common
  database: mcfly_test
  url: <%= ENV['TEST_DATABASE_URL'] %>
