common: &common
  adapter: postgresql
  username: [user]
  password: [password]
  host: localhost

production:
  <<: *common
  database: mcfly_prod

development:
  <<: *common
  database: mcfly_dev

test:
  <<: *common
  database: mcfly_test
